body {
	background-color: #F8F8F8;
}
#body-container {
	max-width: 1400px;
	margin: auto;
}



/* Text font & sizes */
h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;	
	font-weight: 500;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: 400;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 20px;
}

h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

h5 {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #000;
}

h6 {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	color: #000;
}

p {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	color: #717171;
	line-height: 30px;
	margin-bottom: 30px;
}

/* Navigation */
nav {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	height: 60px;
}


.navbar {
	padding: 0;
}

#nav-container {
	height: 50px;
	max-width: 1400px;
}

#navbarSupportedContent {
	width: 100%;
	background-color: white;
}

#nav-logo {
	padding: 0px;
	margin-left: 5px;
}

.navbar-expand-sm .navbar-nav .nav-link {
	padding: 5px 1rem;
}

.navbar-toggler {
	border: 0px;
}

.navbar-nav .nav-item {
	padding: 0px;
}

.navbar-nav .nav-item .nav-link {
	color: black;
}

.nav-item.dropdown.show {
	padding: 0px;
}

.dropdown-menu {
	border-radius: 0px;
	border: 0px;
	padding: 0px;
}

.dropdown-menu a {
	font-size: 12px;
}
/*  Footer  */

#footer-container {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #C7C7C7;
}
#footer {
	margin: auto;
	display: flex;
	max-width: 1400px;
	max-height: 200px;
}

#linkedin {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#linkedin img {
	padding-left: 5px;
}


#footer-logo {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
#copyright {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#copyright p {
	padding-right: 5px;
	font-size: 9px;
}


/* Button */
button.btn {
	background-color: unset;
	padding: 3px 8px;
}

button.btn a{
	text-decoration: none;
	color: white;
}

/* Homepage Photo */
.parallax-wrapper {
	height: 100vh;
	width: 100%;
	position: absolute;
}
.parallax {
	background-image: url("../images/LogoFade.png");
	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: auto 400px;
  	background-position: center;
  	background-color: #F8F8F8;
  	filter: blur(2px);
  	height: 100%;
}

.intro {
	height: 100vh;
	position: relative;
	display: flex;
	display:-webkit-flex;
	align-items: center;
	text-align: center;
}

.intro h1 {
	font-size: 30px;
}
#name {
	font-family: 'Montserrat', sans-serif;
	color: #303030;
}

#subtitle {
	font-family: 'Montserrat', sans-serif;
	color: #adadad;
}

.form-header {
	color: white;
}


/* Portfolio */

iframe {
	display: block;
	margin: auto;
	height: 100%;
}

.iframe-container {
	height: 100vh;
}

.youtube-container{
	width: 100%;
	height: 300px;
}

.youtube {
	width: 100%;
	min-height: 100%;
}

.h1-title {
	margin-top: 40px;
}
.row {
	margin-bottom: 90px;
	margin-top: 90px;
}

.jumbotron {
	background-color: #F8F8F8;
	padding: 20px 0px 20px 0px;
}

.jumbotron img {
	width: 100%;
}

.img-center {
	display: block;
	margin: auto;
}

button.btn a {
	font-size: 12px;	
}

.title-container {
		text-align: center;
		padding: 20px 0px;
	}

.project-tag {
	font-style: italic;
}

.thumb-container {
	margin-bottom: 15px;
}
.thumb {
	max-width: 100%;
}
.overlay {
	display: none;
}
.white-text {
	color: white;
}

.project-image-container {
	display: flex;
	align-items: center;
}
.project-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 100%;
	max-width: 100%;
}

.project-info p {
	color: white;
}

.project-info h1 {
	color: #fff;
}

#FA a, #BO a, #IB a, #CL a{
	color: #425cf4;
}

#FA, #BO, #IB, #CL {
	height: calc(100vh - 60px);
	padding: 0px;
	margin: 0px;
}

#FA .row, #BO .row, #IB .row, #CL .row {
	margin-top: 60px;
	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
  	height: 100%;
}

#FA {
	background-color: #F5822F;
}

#FA .row {
	background-image: url("../portfolio/Fammili/images/Trans.png");
}

#BO {
	background-color: #EB3333;
}

#BO .row {
	background-image: url("../portfolio/BenefitOne/images/Trans.png");
}

#IB {
	background-color: #524065;
}

#IB .row {
	background-image: url("../portfolio/IdentifiBio/images/Trans.png");
}


#CL {
	background-color: #4898F6;
}

#CL .row {
	background-image: url("../portfolio/ClimateLens/images/Trans.png");
}


.project-container {
	height: 100%;
}

.project-info p {
	color: white;
}

.project-info h1, .project-info h2, .project-info h3 {
	color: #fff;
}

.project-info-container {
	text-align: center;
	margin-top: 30px;
}

/* Project Details */
.FA-color {
	color: #F5822F;
}

.BO-color {
	color: #EB3333;
}

.IB-color {
	color: #524065;
}

.CL-color {
	color: #4898F6;
}

.container {
	margin-right: 0px 10px;
}

.vimeo {
	width: 100%;
	height: 600px;
}

.invision{
	width: 100%;
}

.button-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px 0px;
}


/* About */

.about-bg {
	margin-top: 60px;
	background-image: url("../about/images/about.jpeg");
	background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
}

#face-wrap {
	text-align: center;
}

#face {
	border-radius: 50%;
	width: 280px;
	height: 280px;
}

.about-text {
	text-align: center;
}


#more-about-me {
	margin-top: 50px;
	font-weight: 600;
}

#and-my-bunny {
	margin-top: 0px;
	font-size: 30px;
	font-family: 'Nanum Brush Script', cursive;
}

#more-info {
	text-align: center;
}

#zoro-table {
	margin: auto;
}

.zoro {
	width: 18.75%;
	max-width: 200px;
	padding: 10px 5px;
}

.zoro img {
	width: 100%;
}


/* Contact */
#contact-bg {
	margin-top: 60px;
	background-color: #525659;
}

#contact-container {
	max-width: 800px;
}

#contact-form {
	color: white;
	padding-bottom:5px;
}

.form-header {
	padding-top: 40px;
}

.form-100 {
	width: 100%;
}

#first-input {
	width: 48%;
	margin-right: 2%;
}

#last-input {
	width: 48%;
	margin-left: 2%;
}

#first-name {
	width: 48%;
	margin-right: 2%;
	float: left;
	font-size: 12px;
}
#last-name {
	float: left;
	width: 48%;
	margin-left: 2%;
	font-size: 12px
}

#message {
	height: 200px;
}

#submit {
	border: none;
	background-color: rgba(0,0,0,0);
	color: white;
}

#send {
	margin: auto;
}

/* Media Queries  */

@media (min-width: 576px) {
	.parallax-wrapper {
		width: 50%;
		left: 50%;
	}

	.parallax {
		max-width: 100%;
		background-size: 45%;
		background-position: top 50% right 5%;
	}
	.dd-override {
		text-align: left;
		padding: 8px 12px;
		font-size: 14px;
	}
	.dropdown-menu {
		border: 1px solid rgba(0,0,0,.2);
	}
	.navbar-nav .nav-item {
		padding: 0px;
	}

	button.btn a {
		font-size: 14px;	
	}

	.title-container {
		text-align: center;
		padding: 40px 0px;
	}

	.title {
		font-weight: 400;
		/* border-bottom: 2px solid black; */
		display: inline;
	}

	.text-white {
		color: white;
	}
	/* Button */
	button.btn {
		background-color: unset;
		border: 1px solid black;
		padding: 6px 12px;
	}
		
	button.btn-white {
		border: 1px solid white;
	}
	button.btn.btn-white:hover {
		background-color: rgba(0,0,0,0.6);
	}


	button.btn:hover {
		background-color: rgba(255,255,255,0.7);
	}

	/* Home Banner */

	

	/* Introduction */
	.intro h1 {
		font-size: 36px;
		width: 75%;
		text-align: left;
	}

	/* Portfolio */
	.thumb-container {
		margin-bottom: 30px;
		position: relative;
	}
	.thumb {
		display: block;
	}
	.overlay {
		display: initial;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		transition: .25s ease;
		background-color: rgba(256,256,256,0.3);
		box-sizing: border-box;
	}

	.overlay:hover {
		opacity: 1;
	}

	.overlay:hover .thumb {
		transform: scale(1.2);
	}

	.portfolio-item {
		height: 600px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.project-container .row .project-info-container {
		height: 100%;
	}

	.project-info-container {
		display: table;
		text-align: left;
		margin-top: 0px;
	}

	.project-info {
		text-align: left;
		display: table-cell;
		vertical-align: middle
	}

	.project-image-container {
		height: 100%;
		margin-top: 0px;
	}

	.project-image {
		max-height: 100%;
	}

	#linkedin img {
		padding-left: 20px;
	}
	#copyright p {
		padding-right: 20px;
		font-size: 14px;
	}

	/* Project jumbo bg colors */
	.FA-page-title {
		border-color: #F5822F;
	}

	.BO-page-title {
		border-color: #d80d0d;
	}
	
	.IB-page-title {
		border-color: #3b049b;
	}
	.CL-page-title {
		border-color: #2154ed;
	}

	#resume-title {
		border-color: #FFFFFF;
	}

	#contact-title {
		border-color: #FFFFFF;
	}

	/* About */
	.about-text-container {
		display: table;
		height: 280px;
	}

	.about-text {
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}

}
