@font-face {
    font-family: 'Gadugi';
    src: url('fonts/gadugi.ttf');
}

@font-face {
    font-family: Corbel;
    src: url('fonts/corbel.ttf');
}

html {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: black;
}

body {
    margin: 0px;
}

#BG {
    position: fixed;
    display: block;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    z-index: -2;
}

#navUl {
    margin: 0;
    position: fixed;
    right: 10%;
    bottom: 10%;
    text-align: center;
}

#navUl li {
    list-style-type: none;
    padding: 10px 0px 10px 0px;
}

#navUl li a {
    text-decoration: none;
    color: white;
    padding: 5px 15px 5px 15px;
}

#navUl li a:hover {
    background-color: black;
    color: grey;
}

h1 {
    font-family: 'Gadugi', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    top: 50%;
    letter-spacing: 3px;
    font-size: 40px;
}

#home {
    height: 100vh;
    overflow: hidden;
    padding-top: 0px;
}

#homeContainer {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    margin: auto;
    z-index: -2;
}

#homeLine {
    height: 2px;
    width: 100%;
    background-color: white;
}

#homeContainer p {
    margin: 0;
    text-align: center;
    font-size: 10px;
    letter-spacing: 43px;
    margin-right: -43px;
}

#blueTrans {
    width: 100%;
    height: 100%;
    background-color: rgba(77, 101, 175, 0.45);
}

.secDiv {
    margin: auto;
    width: 60%;
    text-align: center;
    min-height: 100vh;
}

.headContainer {
    margin-bottom: 50px;
}

h2 {
    font-family: Corbel, sans-serif;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 8px;
}

h3 {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 24px;
    color: ;
}

.whiteLine {
    width: 35%;
    height: 2px;
    background-color: white;
    display: inline-block;
    margin-bottom: 7px;
    margin-left: 15px;
    margin-right: 15px;
}

.bodyContainer {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h4 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}


/* Profile */

#profileBody {}

#left {
    width: calc(35% - 90px);
    float: left;
    padding-left: 90px;
    text-align: right;
}

#profileHeading {
    text-align: right;
}

#me {
    width: calc(30% - 60px);
    padding: 0px 30px 0px 30px;
    float: left;
}

#right {
    width: calc(35% - 90px);
    float: left;
    padding-right: 90px;
    text-align: left;
}

#right ul {
    list-style-type: none;
    padding-left: 0;
}

#right ul h4 {
    text-align: left;
}


/* Experiences */

#experiencesBody h4 {
    text-align: left;
}

.xpElement {
    width: 100%;
}

.xpLeft {
    width: 35%;
    float: left;
    text-align: left;
}

.xpLeft img {
    position: relative;
    top: +2px;
}

.xpRight {
    width: 65%;
    float: left;
    text-align: left;
}


/* Project */

.projectContainer {
    width: calc(50% - 60px);
    float: left;
    padding: 30px;
}

.projectContainer figure {
    position: relative;
    display: block;
    overflow: hidden;
    margin: auto;
    width: 100%;
    height: 100%;
}

.projImg {
	width: 100%;
}

.projectContainer figure figcaption {
    text-align: left;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 30px 30px;
    opacity: 0;
    bottom: 0;
    left: -30%;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

.projectContainer figure figcaption a {
    text-decoration: none;
    color: inherit;
}

.projectContainer figure:hover figcaption {
    opacity: 1;
    left: 0;
}

.projectContainer figure figcaption h3 {
    font-weight: bold;
}

.goTo {
    position: absolute;
    right: 0px;
    top: 0px;
}


/* Contact */

#contactBody {
    width: 50%;
    margin: auto;
}

#contactBody ul li {
    list-style-type: none;
    height: 64px;
    margin-bottom: 10px;
    text-align: left;
}

#contactBody ul li a {
    text-decoration: none;
    color: white;
    margin-left: 5%;
    font-size: 16px;
}

#contactBody ul li img {
    vertical-align: middle;
}


/* JS CSS */

.active {
    background-color: black;
    color: grey;
}

.section {
    padding-top: 100px
}
